---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mnp-gw-flower
  name: mnp-gw-flower
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mnp-gw-flower
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        vault.security.banzaicloud.io/enable-json-log: 'true'
        vault.security.banzaicloud.io/log-level: warn
        vault.security.banzaicloud.io/vault-addr: http://vault.platform.svc:8200
        vault.security.banzaicloud.io/vault-env-daemon: 'true'
        vault.security.banzaicloud.io/vault-ignore-missing-secrets: 'true'
        vault.security.banzaicloud.io/vault-role: apps-default-role
      labels:
        app: mnp-gw-flower
    spec:
      serviceAccountName: mnp-gw
      containers:      
      - command:
        - /bin/sh
        - -ec
        args:
        - celery -A celery_app:app --broker="${CELERY_BROKER_URL}" flower --port=5555
        env:
        - name: CELERY_BROKER_URL
          value: "amqp://${vault:rabbitmq/creds/mnp-mnp-gw#username}:${vault:rabbitmq/creds/mnp-mnp-gw#password}@rabbitmq-platform.platform.svc:5672/mnp-gw"
        - name: CELERY_RESULT_BACKEND
          value: "rpc://"
        - name: FLOWER_BASIC_AUTH
          value: admin:admin
        - name: REDIS_URL
        image: {{ .Values.imageBase }}:{{ .Values.imageVersion | default .Chart.AppVersion }}
        name: mnp-flower-monitor-mnp
        ports:
        - containerPort: 5555
          protocol: TCP
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mnp-gw-flower
  name: mnp-gw-flower
spec:
  ports:
    - name: "5555"
      port: 5555
      targetPort: 5555
  selector:
    app: mnp-gw-flower