---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mnp-gw

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: mnp-gw-rbac
rules:
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - ''
    resources:
      - namespaces
      - services
      - pods
      - configmaps
      - endpoints
      - endpointslices
    verbs:
      - get
      - watch
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: mnp-gw-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: mnp-gw-rbac
subjects:
  - kind: ServiceAccount
    name: mnp-gw
    namespace: {{ .Release.Namespace }}